body
{
    background: none repeat scroll 0px #BBB;
}

#map_canvas
{
    border: 1px solid black;
    position: relative;
    width:95%;
    height: 60%;
    left: 2.5%;
    margin-top: 10px;
    box-shadow: 10px 10px #555;
    border-radius: 0px 5px 5px 5px;
}

#control_table
{
    background : none repeat scroll 0 #888;
    position: relative;
    width: 50%;
    left: 25%;
    border: 1px solid black;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    margin-bottom: 20px;
    border-top: 1px solid white;
    box-shadow: 10px 10px #555;
}

#chart_div
{
    background: white;
    width: 95%;
    left: 2.5%;
    position: relative;
}

#address
{
    border: 1px solid #CCC;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 4px #AAA inset;
    padding: 5px;
}

input[type="button"]
{
    padding: 5px;
    width: 75%;
    font-weight: bold;
    font-size: 14px;
}
